<div class="container_lg">
  <h1>Hello Angular</h1>
  <div class="nav">
    <button class="btn" (click)="onClick()">Click me!</button>
    <button class="btn" (click)="onNavigate()">Navigate to about</button>
    <button class=" btn btn__success">Create New</button>
  </div> 
  <div>
    <div class="flex" *ngIf="isError">
      <p>Something went wrong!</p>
    </div>
    <div class="flex" *ngIf="isLoading">
      <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" />
    </div>

    <div class="posts">
      <div *ngFor="let item of posts">
        <div class="posts__items">
          <h2>{{ item.title }}</h2>
          <p>{{ item.body }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
